* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  
  body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3498db;
  }
  
  .main {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333333;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  
  .options {
    margin-right: 8px;
  }
  
  label {
    font-size: 1rem;
    color: #444444;
    cursor: pointer;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  
  /* Style the selected option */
  input[type="radio"]:checked + label {
    background-color: #3498db;
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  